# .dockerignore

# Git
.git
.gitignore

# Node modules
node_modules
client/node_modules

# Build artifacts
client/build

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
.env


Dockerfile
docker-compose.yml
README.md